.table-container {
    max-height: 225px;
    border: 1px solid #ccc;
    overflow-y: auto;
    width: 100%;
}

table {
    border-top: 0 solid black;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
/* thead, tbody {
    display: block;
} */
thead {
    background-color: #ffffff;
}
tbody {
    max-height: 150px;
    overflow-y: auto;
}

td {
    font-size: 12px;
}

th {
    font-size: 14px;
    background: white;
    position: sticky;
    top: -1; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }

th, td {

    padding: 8px;
    text-align: center;
    border: 1px solid #969696;
    /* width: 24%;
    box-sizing: border-box; */
}

/* First sticky row: summary */
thead tr:first-child th {
  position: sticky;
  top: 0;
  background-color: var(--bs-info-bg-subtle);
  z-index: 3;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
}

/* Second sticky row: column headers */
thead tr:nth-child(2) th {
  position: sticky;
  top: 42px; /* Adjust based on the height of the first row */
  background-color: var(--bs-info-bg-subtle);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
  z-index: 2;
  }

  /* .sticky-summary th {
  position: sticky;
  top: 0;
  background-color: var(--bs-info-bg-subtle);
  z-index: 3;
}

.sticky-header th {
  position: sticky;
  top: 42;
  background-color: var(--bs-info-bg-subtle);
  z-index: 2;
} */




